{% extends 'base/base.html' %}
 
{% block link%} 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

 {%endblock %}

 

{% block content %}
{% csrf_token %}


<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-uppercase text-center bg-dark text-light"> Descripción de TRIVIA</div>
            <div class="card-body">
              <h4>La Trivia es un juego de habilidad donde el jugador debe contestar preguntas sobre el mundial de fútbol. Cada pregunta bien contestada acumula puntaje, con distintas opciones para elegir como respuesta y debe hacerlo dentro de un determinado
                tiempo.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'juegosmundial:triviajuego' %}" class="btn btn-primary btn-lg">Comenzar</a>
            <!-- <a href="Trivia/quiz.html" class="btn btn-primary btn-lg" href="" target="" data-toggle="">Comenzar</a>  -->

        </div>
      </div>
    </div>
  </div>
  {% endblock %}