{% extends 'base/base.html' %} {% load staticfiles %} {% block link%}


<link rel="stylesheet" href="{% static 'css/trivia/triviajuegocss.css' %}">
<link rel="stylesheet" href="{% static 'css/trivia/temporizador.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> {%endblock %} {% block content %} {% csrf_token %}
<br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="w3-container" >
            <div class="w3-card-12 w3-blue-grey">
                <div class="w3-container w3-center">
                    <h1>Puntos</h1>
                    <div class="w3-section">
                        <h3 id="puntos">...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-sm-12" style="text-align: center; margin-top: 50px;">
        <a href="{% url 'juegosmundial:juegos_listar' %}" class="btn btn-primary btn-lg">Regresar al Menú Principal</a>
    </div>
</div>
<br>

{% endblock %} {% block script%}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/trivia/puntajefinal.js' %}"></script> {%endblock %}