{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grupo B</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h3>Primera Jornada</h3>
      <hr>
      <h4>Francia vs. Australia</h4>
      <p>16/06/2018 | 05:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Francia<br>1.20</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>6.25</br></button>
        <button type="button" class="apuesta btn btn-primary">Australia<br>17.00</br></button>
      </div>
      <hr>
      <h4>Perú vs. Dinamarca</h4>
      <p>16/06/2018 | 11:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Perú<br>3.80</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>3.30</br></button>
        <button type="button" class="apuesta btn btn-primary">Dinamarca<br>2.05</br></button>
      </div>
      <hr>
      <h3>Segunda Jornada</h3>
      <hr>
      <h4>Dinamarca vs. Australia</h4>
      <p>21/06/2018 | 07:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Dinamarca<br>1.75</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>3.55</br></button>
        <button type="button" class="apuesta btn btn-primary">Australia<br>5.00</br></button>
      </div>
      <hr>
      <h4>Francia vs. Perú</h4>
      <p>21/06/2018 | 10:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Francia<br>1.28</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>5.15</br></button>
        <button type="button" class="apuesta btn btn-primary">Perú<br>13.00</br></button>
      </div>
      <hr>
      <h3>Tercera Jornada</h3>
      <hr>
      <h4> Dinamarca vs. Francia</h4>
      <p>26/06/2018 | 09:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Dinamarca<br>5.00</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>3.80</br></button>
        <button type="button" class="apuesta btn btn-primary">Francia<br>1.62</br></button>
      </div>
      <hr>
      <h4>Australia vs. Perú</h4>
      <p>26/06/2018 | 09:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Australia<br>3.25</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>3.15</br></button>
        <button type="button" class="apuesta btn btn-primary">Perú<br>2.20</br></button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/polla/apuesta.js' %}"></script>
</body>
</html>
