{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grupo B</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h3>Primera Jornada</h3>
      <hr>
      <h4>Alemania vs. México</h4>
      <p>17/06/2018 | 10:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Alemania<br>1.53</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>4.10</br></button>
        <button type="button" class="apuesta btn btn-primary">México<br>6.75</br></button>
      </div>
      <hr>
      <h4>Suecia vs. Corea del Sur</h4>
      <p>18/06/2018 | 07:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Suecia<br>2.10</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>3.20</br></button>
        <button type="button" class="apuesta btn btn-primary">Corea del Sur<br>3.80</br></button>
      </div>
      <hr>
      <h3>Segunda Jornada</h3>
      <hr>
      <h4>Corea del Sur vs. México</h4>
      <p>23/06/2018 | 10:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Corea del Sur<br>4.45</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>3.40</br></button>
        <button type="button" class="apuesta btn btn-primary">México<br>1.91</br></button>
      </div>
      <hr>
      <h4>Alemania vs. Suecia</h4>
      <p>23/06/2018 | 13:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Alemania<br>1.53</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>4.00</br></button>
        <button type="button" class="apuesta btn btn-primary">Suecia<br>6.75</br></button>
      </div>
      <hr>
      <h3>Tercera Jornada</h3>
      <hr>
      <h4>Corea del Sur vs. Alemania</h4>
      <p>27/06/2018 | 00:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">Corea del Sur<br>13.00</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>6.50</br></button>
        <button type="button" class="apuesta btn btn-primary">Alemania<br>1.18</br></button>
      </div>
      <hr>
      <h4>México vs. Suecia</h4>
      <p>27/06/2018 | 00:00 hrs.</p>
      <div class="btn-group">
        <button type="button" class="apuesta btn btn-primary">México<br>2.45</br></button>
        <button type="button" class="apuesta btn btn-primary">Empate<br>3.20</br></button>
        <button type="button" class="apuesta btn btn-primary">Suecia<br>2.80</br></button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/polla/apuesta.js' %}"></script>
</body>
</html>
